<!-- Template Helper: sidebar, which can used in different pages-->
<!--CUSTOMIZE: Build menu structure as needed-->
<nav class="col-3 col-xl-2 col-md-3 sidebar dbl-margin-top" role="navigation">
    <ul id="rootSidebar">

        <li class="sidebar__item" id="menu_corporate_register">
            <a href="/corporate/register" tabindex="0">
                <span class="icon-communities"></span>
                <span>Register Franchisee</span>
            </a>
        </li>

        <li class="sidebar__item" id="menu_corporate_modify">
            <a href="/corporate/modify" tabindex="0"">
                <span class="icon-info-outline"></span>
                <span>Modify Franchisee Information</span>
            </a>
        </li>

        <li class="sidebar__item" id="menu_corporate_history">
            <a href="/corporate/history" tabindex="0">
                <span class="icon-history"></span>
                <span>Franchisee Registration History</span>
            </a>
        </li>

    </ul>
</nav>
<!--CUSTOMIZE END-->
